In [1]:
import pandas as pd
import datetime as dt

In [2]:
Trips=pd.DataFrame({'id':[1,2,3,4,5,6,7,8,9,10],
                    'client_id':[1,2,3,4,1,2,3,2,3,4],
                    'driver_id':[10,11,12,13,10,11,12,12,10,13],
                    'city_id':[1,1,6,6,1,6,6,12,12,12],
                    'status':['completed','cancelled_by_driver','completed','cancelled_by_clicent','completed','completed','completed','completed','completed','cancelled_by_driver'],
                    'request_at':['2013-10-01','2013-10-01','2013-10-01','2013-10-01','2013-10-02','2013-10-02','2013-10-02','2013-10-03','2013-10-03','2013-10-03']})
Trips

   id  client_id  driver_id  city_id                status  request_at
0   1          1         10        1             completed  2013-10-01
1   2          2         11        1   cancelled_by_driver  2013-10-01
2   3          3         12        6             completed  2013-10-01
3   4          4         13        6  cancelled_by_clicent  2013-10-01
4   5          1         10        1             completed  2013-10-02
5   6          2         11        6             completed  2013-10-02
6   7          3         12        6             completed  2013-10-02
7   8          2         12       12             completed  2013-10-03
8   9          3         10       12             completed  2013-10-03
9  10          4         13       12   cancelled_by_driver  2013-10-03

In [3]:
Users=pd.DataFrame({'users_id':[1,2,3,4,10,11,12,13],
                    'banned':['No','Yes','No','No','No','No','No','No'],
                    'role':['client','client','client','client','driver','driver','driver','driver']})
Users

   users_id banned    role
0         1     No  client
1         2    Yes  client
2         3     No  client
3         4     No  client
4        10     No  driver
5        11     No  driver
6        12     No  driver
7        13     No  driver

In [4]:
# change str into date
Trips['Day']=pd.to_datetime(Trips['request_at'])
Trips=Trips.drop(columns=['request_at'])
Trips

   id  client_id  driver_id  city_id                status        Day
0   1          1         10        1             completed 2013-10-01
1   2          2         11        1   cancelled_by_driver 2013-10-01
2   3          3         12        6             completed 2013-10-01
3   4          4         13        6  cancelled_by_clicent 2013-10-01
4   5          1         10        1             completed 2013-10-02
5   6          2         11        6             completed 2013-10-02
6   7          3         12        6             completed 2013-10-02
7   8          2         12       12             completed 2013-10-03
8   9          3         10       12             completed 2013-10-03
9  10          4         13       12   cancelled_by_driver 2013-10-03

In [5]:
#merge trips and users when role='client'
table=Trips.merge(Users[['users_id','banned']],how='left',left_on='client_id',right_on='users_id')
table.rename(columns={'banned':'client_banned'},inplace=True)
table.drop('users_id',inplace=True,axis=1)
table

,id,client_id,driver_id,city_id,status,Day,client_banned
0,1,1,10,1,completed,2013-10-01,No
1,2,2,11,1,cancelled_by_driver,2013-10-01,Yes
2,3,3,12,6,completed,2013-10-01,No
3,4,4,13,6,cancelled_by_clicent,2013-10-01,No
4,5,1,10,1,completed,2013-10-02,No
5,6,2,11,6,completed,2013-10-02,Yes
6,7,3,12,6,completed,2013-10-02,No
7,8,2,12,12,completed,2013-10-03,Yes
8,9,3,10,12,completed,2013-10-03,No
9,10,4,13,12,cancelled_by_driver,2013-10-03,No

In [6]:
#merge trips and users when role='driver'
table=table.merge(Users[['users_id','banned']],how='left',left_on='driver_id',right_on='users_id')
table.rename(columns={'banned':'driver_banned'},inplace=True)
table.drop('users_id',inplace=True,axis=1)
table

,id,client_id,driver_id,city_id,status,Day,client_banned,driver_banned
0,1,1,10,1,completed,2013-10-01,No,No
1,2,2,11,1,cancelled_by_driver,2013-10-01,Yes,No
2,3,3,12,6,completed,2013-10-01,No,No
3,4,4,13,6,cancelled_by_clicent,2013-10-01,No,No
4,5,1,10,1,completed,2013-10-02,No,No
5,6,2,11,6,completed,2013-10-02,Yes,No
6,7,3,12,6,completed,2013-10-02,No,No
7,8,2,12,12,completed,2013-10-03,Yes,No
8,9,3,10,12,completed,2013-10-03,No,No
9,10,4,13,12,cancelled_by_driver,2013-10-03,No,No

In [7]:
# both client and driver must not be banned) each day between "2013-10-01" and "2013-10-03"
table[(table['client_banned']=='No')&
      (table['driver_banned']=='No')&
      (pd.to_datetime(table['Day'])>=pd.to_datetime('2013-10-01'))&
      (pd.to_datetime(table['Day'])<=pd.to_datetime('2013-10-03'))]
table

,id,client_id,driver_id,city_id,status,Day,client_banned,driver_banned
0,1,1,10,1,completed,2013-10-01,No,No
1,2,2,11,1,cancelled_by_driver,2013-10-01,Yes,No
2,3,3,12,6,completed,2013-10-01,No,No
3,4,4,13,6,cancelled_by_clicent,2013-10-01,No,No
4,5,1,10,1,completed,2013-10-02,No,No
5,6,2,11,6,completed,2013-10-02,Yes,No
6,7,3,12,6,completed,2013-10-02,No,No
7,8,2,12,12,completed,2013-10-03,Yes,No
8,9,3,10,12,completed,2013-10-03,No,No
9,10,4,13,12,cancelled_by_driver,2013-10-03,No,No

In [8]:
table.groupby(['Day']).apply(lambda x: round(x[x['status']!='completed'].shape[0]/x.shape[0],2))

Day
2013-10-01    0.50
2013-10-02    0.00
2013-10-03    0.33
dtype: float64